# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [0]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [0]:
df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### 3) See the first 10 entries

In [3]:
df.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### 4) What is the number of observations in the dataset?

In [4]:
df.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
df.shape[1]

5

### 6) Print the name of all the columns.

In [6]:
for col in df.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

In [7]:
#df.item_name.value_counts(ascending=False)
df.groupby('item_name').quantity.sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 8) For the most-ordered item, how many items were ordered?

In [8]:
df.groupby('item_name').quantity.sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 9) What was the most ordered item in the choice_description column?

In [9]:
df.groupby('choice_description').quantity.sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 10) How many items were ordered in total?

In [10]:
df.quantity.sum()

4972

### 11) Turn the item price into a float

In [0]:
df['item_price'] = df.item_price.str.replace('$', '').astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [12]:
df.dtypes
revenue = (df.quantity * df.item_price).sum()
revenue

39237.02

### 13) How many orders were made in the period?

In [13]:
total_orders = df.order_id.max()
total_orders

1834

### 14) What is the average revenue amount per order?

In [14]:
revenue/total_orders

21.39423118865867

### 15) How many different items are sold?

In [15]:
df.item_name.value_counts().count()

50